.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 1rem;
  background-color: #ffa500;
  min-height: 100vh;
  z-index: 1;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2px;
}

.sidebar-h1 {
  color: #104110 !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.home-icon {
  cursor: pointer;
  color: #104110;
  padding: 0px;
}
.home-icon:hover {
  color: #f1f5f8;
}
.sidebar-link-icons {
  color: #104110;
}
.navlinks-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.navlink-container {
  margin-bottom: 2rem;
  display: flex;
}
.navlink {
  text-decoration: none;
  color: #104110;
  margin-left: 2rem;
  font-size: 1.5rem;
  padding: 0 10px;
  transition: 0.5s;
  border-radius: 3px;
}

.navlink:hover {
  color: #f1f5f8;
}

.active {
  color: white;
  background-color: #104110;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;

    width: 60%;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.animate {
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
