.station-row {
  transition: 0.4s;
}
.station-row:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}
tr,
td {
  max-height: 80px !important;
}

.actions {
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .stations-table {
    width: 100% !important;
  }
}
